<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه حضور و غیاب</title>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400&display=swap" rel="stylesheet">
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <a href="/">صفحه اصلی</a>
        <a href="/list">لیست نفرات</a>
        <a href="#">گزارش</a>
    </nav>

    <h1>سامانه حضور و غیاب</h1>
    <div class="button-container">
        {% for employee in employees %}
            <button onclick="changeColor(this)">{{ employee }}</button>
        {% endfor %}
    </div>

    <div id="timer-container">
        <div id="timer">00:00</div>
        <div id="action-buttons">
            <button id="start-stop" onclick="startTimer()">شروع جلسه</button>
            <button id="reset" onclick="resetTimer()">ارسال</button>
        </div>
    </div>

    <!-- Link to external JavaScript -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
