<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه حضور و غیاب</title>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav>
        <a href="/">صفحه اصلی</a>
        <a href="/list">لیست نفرات</a>
        <a href="/report">گزارش</a>
    </nav>

    <!-- Button to trigger the modal -->
    <button id="new-meeting-btn" onclick="openNewMeetingModal()">جلسه جدید</button>

    <!-- Modal for creating a new meeting -->
    <div id="new-meeting-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeNewMeetingModal()">&times;</span>
            <h2>ایجاد جلسه جدید</h2>

            <form id="new-meeting-form" action="{{ url_for('add_meeting') }}" method="POST">
                <label for="meeting-name">نام جلسه:</label>
                <input type="text" id="meeting-name" name="meeting_name" required>

                <label for="event-selector">انتخاب رویداد:</label>
                <select id="event-selector" name="event_id" required>
                    {% for event in events %}
                    <option value="{{ event.id }}">{{ event.eventType }}</option>
                    {% endfor %}
                </select>

                <button type="submit">ایجاد جلسه</button>
            </form>
        </div>
    </div>


    <!-- Alert message for success -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="success-alert" class="alert">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    <h1>سامانه حضور و غیاب</h1>
    <div class="button-container">
        {% for employee in employees %}
        <button class="employee-btn" data-id="{{ employee.id }}" onclick="changeColor(this)">
            {{ employee }}
        </button>
        {% endfor %}
    </div>

    <div id="timer-container">
        <div id="timer">00:00</div>
        <div id="action-buttons">
            <button id="start-stop" onclick="startTimer()">شروع جلسه</button>
            <button id="reset" onclick="resetTimer()">بازگردانی زمان</button>
            <button onclick="submitMeeting()">ارسال اطلاعات</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>